.balance {
  background: #FFFFFF;  
  display: grid;
  margin: 0;
  padding: 120px 140px 190px;
}

.slogan {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 120px;
} 

.lanse {
  display: grid;  
  background-image: url("../../../images/balansedesc.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: contain;
}



.line {
  width: 100%;
}

.line_unwrap {
  width: 100%;
  transform: rotate(180deg);
}

.text {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

.thesises {
  width: 100%;
  display: grid;
  grid-template-columns: 26% 1fr 26%;
  padding: 0;
}

@media all and (max-width: 1200px) {
  .balance {
    padding: 0 100px;
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .thesises {
    grid-template-columns: 31% 1fr 31%;
  }
}

@media all and (max-width: 1000px) {
  .balance {
    padding: 80px;
  }

  .lanse {
    background-image: url("../../../images/balanselap.svg");
  }

  .slogan {
    font-size: 28px;
  }
}

@media all and (max-width: 800px) {
  .balance {
    padding: 0 40px;
  }
}

@media all and (max-width: 750px) {
  .thesises {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .lanse {
    background-image: url("../../../images/balansemob.svg");
    height: 186px;
  }
}
