.balance {
  background: #FFFFFF;  
  display: grid;
  margin: 0;
  padding: 120px 140px 190px;
}

.slogan {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 120px;
} 

.lanse {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  position: relative;
  align-items: center;
}

.image {
  width: 120px;
  height: 120px;
}

.line {
  width: 100%;
}

.line_unwrap {
  transform: rotate(180deg);
}

.text {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

.thesises {
  width: 100%;
  display: grid;
  grid-template-columns: 26% 1fr 26%;
  padding: 0;
}

@media all and (max-width: 1200px) {
  .balance {
    padding: 0 100px;
  }

  .image {
    width: 100px;
    height: 100px;
  }

  .thesises {
    grid-template-columns: 31% 1fr 31%;
  }
}

@media all and (max-width: 1000px) {
  .balance {
    padding: 80px;
  }

  .image {
    width: 80px;
    height: 80px;
  }

  .slogan {
    font-size: 30px;
  }

  .slogan {
    font-size: 28px;
  }
}

@media all and (max-width: 800px) {
  .balance {
    padding: 0 40px;
  }
}
