.revenue {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  column-gap: 140px;
  padding: 0 140px 100px;
}

.slogan {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin: 0;  
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 32px;
}

.text {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin: 0; 
}

@media all and (max-width: 1200px) {
  .revenue {
    padding: 0 100px 100px;
  }

  .text {
    font-size: 18px;
    line-height: 20px;
  }

  .slogan {
    font-size: 30px;
    line-height: 35px;
  }
}

@media all and (max-width: 1000px) {
  .revenue {
    padding: 0 80px 40px;
    column-gap: 80px;
  }

  .text {
    font-size: 14px;
    line-height: 20px;
  }

  .slogan {
    font-size: 28px;
    line-height: 33px;
  }
}

@media all and (max-width: 800px) {
  .revenue {
    padding: 0 40px 40px;
  }
}

@media all and (max-width: 750px) {
  .revenue {
    padding: 0 16px 40px;
    grid-template-columns: 1fr;
    row-gap: 22px;
  }
 
}

@media all and (max-width: 500px) {
 
  .slogan {
    font-size: 24px;
    line-height: 30px;
  }
}
