.content {
  margin-bottom: 160px;
  padding: 0 140px;
}

.title {
  font-size: 80px;
  line-height: 88px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
}

.slogan {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  width: 50%;
  margin: 0;
  margin-bottom: 65px;
}

.button {
  width: 190px;
}

@media all and (max-width: 1200px) {
  .content {
    margin-bottom: 140px;
    padding: 0 100px;
  }

  .title {
    font-size: 65px;
    line-height: 70px;
  }

  .slogan {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 60px;
  }
}

@media all and (max-width: 1000px) {
  .content {
    margin-bottom: 120px;
    padding: 0 80px;
  }

  .title {
    font-size: 52px;
    line-height: 57px;
  }

  .slogan {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 60px;
  }

  .button {
    width: 100%;
  }
}

@media all and (max-width: 800px) {
  .content {
    padding: 0 40px;
  }
}

@media all and (max-width: 500px) {
  .content {
    margin-bottom: 80px;
    padding: 0 16px;
  }

  .title {
    font-size: 36px;
    line-height: 40px;
  }

  .slogan {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 112px;
  }
}
