:root {
  --background: #E8EDEE;
  --foreground: #1D1D1B;
  ;
}

html,
body {
  width: 1440px;
  margin: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Onest;    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

