.page {
  display: grid;  
  align-items: center;
  justify-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1440px;
}

.main {
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;  
  grid-row-start: 1;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  background-position-y: 70px;
  padding: 170px 0 0;
}

@media all and (max-width: 1200px) {
  
}

@media all and (max-width: 1000px) {
  
}

@media all and (max-width: 800px) {
 
}
